<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829605890857-7dgbl9d3nbcav16bho6uh7e7kt031v8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829605890857-7dgbl9d3nbcav16bho6uh7e7kt031v8a</string>
	<key>API_KEY</key>
	<string>AIzaSyCc4zToLuE9zs2XoBsoNSLWqDmP4VXt7P0</string>
	<key>GCM_SENDER_ID</key>
	<string>829605890857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAuth</string>
	<key>PROJECT_ID</key>
	<string>olx-1-d68b6</string>
	<key>STORAGE_BUCKET</key>
	<string>olx-1-d68b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829605890857:ios:33eb09482026a26d3e0538</string>
	<key>DATABASE_URL</key>
	<string>https://olx-1-d68b6-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>